<script type="text/javascript">

document.getElementById('achievement1').onclick = function changeContent(){
    document.getElementById('achievement1').innerHTML = "やったね！";
}

</script>


<!-- 画像 -->



<h1>今日の目標</h1>

<input type="search" name="search1" placeholder="目標1"><span id="achievement1">達成した？</span><br>
<input type="search" name="search2" placeholder="目標2"><br>
<input type="search" name="search3" placeholder="目標3"><br>
<input type="search" name="search4" placeholder="目標4"><br>
<input type="search" name="search5" placeholder="目標5"><br>
<input type="search" name="search6" placeholder="目標6"><br>

